# Ignore the large raw data files
data/*.txt
data/*.gz
data/*.tsv
data/processed/*.pkl
data/raw/interactions.tsv
data/raw/*.txt
# Ignore Python cache
__pycache__/
*.pyc

# Keep the results but ignore the noise
.DS_Store
